[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "bun install && npx expo export -p web"
  publish = "dist"

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Content-Security-Policy = "frame-ancestors *"
